@import 'variables.sss';

.birthday
  display: inline-block

  &::before
    content ', '

  &:last-child::before
    display: inline-block
    font-size: .8em
    margin: 0 4px
    content: 'и'

  &:first-child::before
    margin: 0
    content: ''