@import 'variables.sss';

.tabs
  display: block

.labels
  display: flex
  list-style: none

.label
  display: inline-block
  position: relative
  color: var(--blue)
  border-bottom: 1px dashed var(--blue)
  cursor: pointer
  transition: color .2s ease
  font-size: 14px
  margin-right: 10px

  &_active
    border: none
    color: var(--color-black)

.labelText
  display: inline-block
  margin: 0 .3em
  font-size: 14px

.content
  display: block
