@import 'variables.sss';

.sliderPreview
  display: block
  border: 1px solid var(--darkBlue)

.date
  display: block
  padding: 0 5px 5px
  font-size: 13px
  color: var(--darkBlue)
  cursor: inherit

  &_header
    padding: 5px
    color: #fff
    background: var(--darkBlue)

.name
  display: block
  padding: 5px
  font-size: 18px
  line-height: 24px
  color: var(--blue)
  cursor: inherit