@import 'variables.sss';

.fieldSet
  display: block
  margin-right: 10px

.title
  display: block
  height: 30px
  background: var(--blue)
  line-height: 30px
  padding-left: 10px
  border-radius: 3px 3px 0 0
  color: var(--color-white)

.content
  display: block
  background: var(--color-white)
  border-radius: 0 0 3px 3px
  border: 1px solid var(--blue)
  border-top: none
  box-sizing: border-box