@import 'variables.sss';

.content
  position: absolute
  display: block
  box-sizing: border-box
  padding: 5px

  &_editable
    border: 1px dashed var(--gray)
    border-radius: 3px

.controlPanel
  position: absolute
  left: -32px
  top: -30px
  height: 30px

.dragArea
  position: absolute
  top: 0
  bottom: 0
  left: -20px
  width: 20px
  background: var(--gray)
  cursor: grab