@import 'variables.sss';

.ration
  padding-top: 19px
  display: block
  border-top: 1px solid var(--lightGray)

.row
  margin-bottom: 10px
  display: flex
  justify-content: space-between
  align-items: center

.controls
  margin-top: 20px
  display: block
